<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net30" />
  <package id="System.Data.SQLite" version="1.0.108.0" targetFramework="net30" />
  <package id="System.Data.SQLite.Core" version="1.0.108.0" targetFramework="net30" />
  <package id="System.Data.SQLite.Linq" version="1.0.108.0" targetFramework="net30" />
</packages>