CNAME
package-lock.json
node_modules
*.tar.bz2
/.vscode
/.helper
/cloud
/client/build
/client/redist/*.zip
/web/*.pem
/web/*.key
/web/build
/web/hakuneko.key
/web/lib/hakuneko/version.html
/web/lib/hakuneko/engine/base/connectors/mangago.js