CNAME
package-lock.json
node_modules
*.tar.bz2
*.log
/.vscode
/.helper
/cloud
/client/build
/client/redist/*.zip
/client/test/*.log
/client/test/cache
/web/*.pem
/web/*.key
/web/build
/web/hakuneko.key
/web/lib/hakuneko/engine/base/connectors/mangago.js