CNAME
package-lock.json
/.vscode
/.helper
/cloud
/daemon
/electron/build
/electron/redist/*.zip
/fmd/.vs
/fmd/packages
/fmd/*/bin
/fmd/*/obj
/fmd/*.user
/web/*.pem
/web/*.key
/web/build
/web/hakuneko.key
/web/lib/hakuneko/version.html