module.exports = {
    version: require('./package.json').devDependencies.electron,
    author: 'Ronny Wegener <wegener.ronny@gmail.com>',
    name: {
        package: 'hakuneko-desktop',
        product: 'HakuNeko Desktop',
    },
    description: {
        short: 'Manga Downloader',
        long: 'Desktop Client for HakuNeko Web-Application'
    },
    license: 'Unlicense',
    url: 'https://git.io/hakuneko',
    src: 'src/app',
    binary: {
        windows: 'hakuneko.exe',
        linux: 'hakuneko',
        darwin: 'HakuNeko'
    },
    meta: {
        section: 'net',
        type: 'Application',
        categories: 'Network;FileTransfer;',
        menu: 'Applications/Network/File Transfer',
        dependencies: {
            deb: 'libc6',
            rpm: 'libXScrnSaver'
        }
    }
}