module.exports = {
    source: 'src/web',
    target: 'build/web',
    version: 'mjs/VersionInfo.mjs',
    polymer: {
        entrypoint: 'index.html',
        shell: '',
        fragments: [
            'lib/hakuneko/app.html',
            'lib/hakuneko/themes/light.html',
            'lib/hakuneko/themes/dark.html'
        ],
        sources: [
            'js/**/*',
            'img/**/*',
            'css/**/*',
            'index.html',
            'mjs/**/*'
        ],
        extraDependencies: [
            'lib/webcomponentsjs/*-*.js'
        ]
    }
}