module.exports = {
    key: 'key.pem',
    passphrase: 'env:HAKUNEKO_PASSPHRASE',
    build: './build/web',
    branch: 'gh-pages',
    deploy: './6.0'
    // The deployment directory must match the `applicationStartupURL` configuration in the desktop client
    // e.g. 'https://manga-download.gihub.io/hakuneko/master/latest'
}