module.exports = {
    key: 'key.pem',
    passphrase: 'env:HAKUNEKO_PASSPHRASE',
    build: './build/web',
    branch: 'gh-pages',
    /**
     * Name of the directory within the deployment branch in which the artifacts will be placed
     * The deployment directory must match the `applicationStartupURL` configuration in the desktop client
     * e.g.
     * 'https://manga-download.gihub.io/hakuneko/master/latest'
     * 'https://manga-download.gihub.io/hakuneko/6.1.7/latest'
     */
    directory: './' + process.env.GITHUB_REF.split('/').pop() // current branch name
}