Package: hakuneko-desktop
Version: 0.0.31
Section: net
Architecture: amd64
Installed-Size: 140000
Depends: 
Maintainer: Ronny Wegener <wegener.ronny@gmail.com>
Priority: optional
Homepage: http://hakuneko.sourceforge.net
Description: Web-Application based manga downloader
 HakuNeko S allows you to download manga images from
 some selected online manga reader websites
 .
 Currently Supported:
 .
  * DynastyScans
  * JapScan
  * KissManga
  * MangaFox
  * Mangago
  * MangaHere
  * MangaReader
