# https://help.github.com/en/articles/workflow-syntax-for-github-actions

name: CI

on:
  push:
    branches:
      - master

jobs:
  linux:
    name: Ubuntu
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: Setup NodeJS (actions/setup-node@v1)
        uses: actions/setup-node@v1
        with:
          node-version: 10.x
      - name: Build
        env:
          PROJECT: HakuNeko
        working-directory: ${{ github.workspace }}
        run: |
          echo $PROJECT
          ls -la